.App {
  text-align: center;
  font-family: "Raleway", sans-serif;

  #quote-box {
    padding: 40px 50px;
    background-color: white;
    position: relative;
    border-radius: 10px;
    width: 450px;
    

    #quote-text {
      text-align: center;
      font-size: 30px;
      font-weight: 500;
      
      #quote-icon {
        margin-right: 10px;
      }

      .fa {
        font-size: 40px;
      }
    }

    #author {
      text-align: end;
      
      
    }

    .button {
      display: flex;
      justify-content: space-between;
      min-height: 50px;
      font-size: 20px;

      #tweet-quote {
        display: flex;
        align-self: center;
        color: white;
        text-decoration: none;
        padding: 15px;
        border-radius: 5px;
        justify-content: center;
        transition: background-color 2s;
      }

      #new-quote {
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 2s;
      }
      #new-quote:hover, #tweet-quote:hover{
        opacity: 0.9;
      }
    }

    
  }

  @media (max-width: 650px) {
    #quote-box {
      padding: 20px 30px;

      position: relative;
      border-radius: 10px;
      width: 300px;

      #quote-text {
        font-size: 25px;

        .fa {
          font-size: 30px;
        }
      }

      #author {
        font-size: 15px;
      }

      .button {
        #tweet-quote {
          padding: 15px;
        }

        #new-quote {
          padding: 0 10px;
        }
      }
    }
  }

  @media (max-width: 350px) {
    #quote-box {
      width: 200px;

      #quote-text {
        font-size: 20px;

        .fa {
          font-size: 25px;
        }
      }
      #author {
        font-size: 12px;
      }

      .button {
        #tweet-quote {
          padding: 12px;
        }

        #new-quote {
          padding: 0 10px;
        }
      }
    }
  }
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    transition: background-color 2s, color 2s;
  }
}
